@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap"); /*importare il font*/
/* {
border: 1px dashed black;     applica i bordi a tutti gli elementi */

:root{
  --dark-gray: #1d1b1f;
}
html,body {
  margin: 0rem;
}

body {
  background-color: beige;
  font-family: "Lexend", sans-serif;
  color: var(--dark-gray);
  /*padding: 0 6.25rem; padding: gestisce lo spazio tra il contenuto e il bordo del box*/
}

h1 {
  font-weight: 700; /*spessore*/
  font-size: 2.5rem;
}
h2 {
  font-weight: 600;
  font-size: 1.75;
  text-align: center;
}
h3 {
  font-weight: 6aggiunta 00;
  font-size: 1.5rem;
  text-align: center;
}
/*NAV BAR*/
nav  {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  position: sticky;
  top: 0;
  margin-top: 2rem;
  /* 
      position: fixed;
      width: calc(100% - 100px);
  */
  background-color: beige;
  z-index: 1;
  border: 1px solid var(--dark-gray);
}

nav  ul {
  list-style-type: none;
  display: flex;
  gap: 3rem;
  margin: 0;
}

nav  a {
  text-decoration: none;
  color: inherit;
}

nav a:hover{
  text-decoration: underline;
}


button {
  font-family: inherit; /*va messo perchè i browser usano il promio font con i button, quindi cosi prende,eredita il font usato dai precedenti*/
  border: 1px solid var(--dark-gray);
  border-radius: 4px;
  background-color: #f0f0f0;
  padding: 1rem 1.25rem;
  box-shadow: 4px 4px 0px var(--dark-gray);
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}

button:hover{
  text-decoration: underline;
}


/*...............................*/


/*margin: spazio tra un box e un altro, spazio tra gli elementi*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
  padding: 2rem 6.25rem;
  background-image: url(/stefano-dipaolo/immagini/Vector\ \(6\).svg);
  
}
header h1 ~ p {
  color: #706d73;
  font-weight: 500;
  font-size: 1.25rem;
}



/*WHY USE OUR MYPAGE*/

#Mypage {
  text-align: center;
}

.box {
  width: 22.5rem;
  padding: 1.5rem;
}

.big-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem; /*spaziatura tra gli elementi di un flex*/
}

.small-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  /* margin: 10rem;*/
  gap: 3rem;
}


#Mypage p {
  text-align: left;
  color: #706d73;
}

/*---------------------------------------------------------*/
/*PARTNERS*/

.Partner {
  text-align: center;
  margin: 2rem;
  padding: 5rem;
}

.logo {
  display: flex;
  flex-direction: row; /*predefinito*/
  justify-content: space-around; /*centra i loghi*/
  flex-wrap: wrap;
  gap: 5rem;
  margin-top: 4rem;
}

/* section testimonial */

#testimonial h2 {
  text-align: center;
}

section#testimonial > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

section#testimonial > div > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  align-items: flex-start;
  
}

section#testimonial .card {
  border: 1px solid var(--dark-gray);
  border-radius: 8px;
  width: 20.5rem;
  color: #302e32;
}

section#testimonial .card .descrizione {
  color: #706d73;
}

section#testimonial .card > div {
  padding: 1rem;
}



/*HOW/INSTRUCTIONS*/

#how h2 {
  text-align: center;
}
#how h4 {
  text-align: center;
}

#how > div {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

#how > div > div {
  border: 1px solid var(--dark-gray);
  border-radius: 0.5rem;
  /*width:10rem da mobile*/
  width: 40rem; /*larghezza*/
  padding: 1rem; /*margine dal bordo del box*/
  position: relative;
}

#how h3 {
  text-align: left;
}

#how > p {
  text-align: center;
}

#how span {
  border: 1px solid var(--dark-gray);
  border-radius: 0.5rem;
  padding: 1rem;
  position: absolute;
  top: -1.5rem;
  left: -1.5rem;
  background-color: #f0f0f0; /*cosi non si vedono i lati della box più grande*/
}
/*PARTE FINALE*/
.final {
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  margin: 0 0 3rem 3rem;
}
.final h2,h3{
  text-align: left;
}

.button {
  display: flex;
  flex-direction: row;
  justify-items: center;
}
/*FOOTER*/
footer {
  color: #f0f0f0;
  background-color: #1d1b1f;
}

footer ul {
  list-style-type: none;
}
footer a {
  color: grey;
  text-decoration: none;
}
footer > div {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem 1rem;
}

footer > div > div {
  display: flex;
  gap: 2rem;
}
footer hr {
  border: #fbfafc 1px solid;
}

.fa-brands {
  font-size: 1.5rem;
  color: #fbfafc;
}



/*le frecce scompaiono da tablet in giù*/
@media screen and (max-width:1280px) { 
  .arrow{display: none;}
}
/*ABBASSIAMO LA DIMENSIONE DELLE BOX DELLA SEZIONE HOW PER SCHERMI PIU' PICCOLI*/
@media screen and (max-width:1200px){
  #how > div > div{
    width: 15rem;
    
  }
  }
/*ABBASSIAMO LA DIMENSIONE DELLE CARDS*/
  
  @media screen and (min-width: 0px) and (max-width: 1200px){
    .section#testimonial .card{
        width: 100rem;
    }
  }

/*FERMIAMO LA NAVBAR SU SCHERMI PIU' PICCOLI*/


/*ABBASSIAMO IL FONT SU SCHERMI PIU' PICCOLI*/
@media screen and (min-width: 0px) and (max-width: 480px){
  h1{
    font-size: 4.25rem;
}
}

@media screen and (min-width: 481px) and (max-width: 768px){
  h1{
    font-size: 4.25rem;
}
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  h1{
      font-size: 4.25rem;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px){
  h1{
      font-size: 4.25rem;
  }
}

@media screen and (min-width: 1200px){
  h1{
      font-size: 4.25rem;
  }
}



/*
@media screen and (min-width:769px) and (max-width:1024px) {
  
}
@media screen and (min-width:1025px) and (max-width:1200) {

}
@media screen and (min-width:1201px) {


}


● 0px — 480px: Mobile devices
● 481px — 768px: iPads, Tablets
● 769px — 1024px: Small screens, laptops
● 1025px — 1200px: Desktops, large screens
● 1201px and more — Extra large screens, TV
*/