@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap');

/*link al font google*/
body {
    font-family: 'lexend', sans-serif;
    padding: 0 6.25rem;
}

/*
proprietà css del body vengono date a tutti gli altri elementi.
Verranno poi sovrascritte da altre proprietà per l'effetto cascata
*/

nav {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-weight: 700;
    font-size: 4.25rem;
    padding: 5rem 5rem 0 5rem;
}

header {
    text-align: center;
    margin: 0 10rem;
}

h1~p {
    color: #706d73;
    font-weight: 500;
    font-size: 1.25rem;
}

button {
    font-family: inherit;
    border: 1px solid #1D1B1F;
    border-radius: 4px;
    background: #F0F0F0;
    padding: 1rem 1.25rem;
    box-shadow: 4px 4px 0px #1D1B1F;
}

/*fine css dell'header*/

h2 {
    text-align: center;
    font-size: 2.5rem;
}

.sinistra {
    display: flex;
}

.sinistra > div {
    padding: 3.5rem;
   
}

.sinistra div > img, h3 {
    text-align: center;
}