body{
    font-family: 'Lexend', sans-serif;
    padding: 0 5.25rem;
}
header{
    text-align: center;
    margin: 1rem;
}
header h1{
    padding: 0 3rem;
}
main h2{
    text-align: center;
    margin: 3rem;
}
h1{
    text-align: center;
    font-size: 3rem;
    margin: 0rem;
}

button {
    font-family:inherit;
    border: 1px solid #1D1B1F;
    border-radius: 1px;
    background: #F0F0F0;
    padding: 1rem 1.25rem;
    box-shadow: 4px 4px 0px #1D1B1F;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav a{
    padding: 0 16px;
}
.mypage{
    color: red;
}
.centro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 3rem;
    gap: 8rem;
}
.uno{
    text-align: center;
}
.due{
    text-align: center;
}
.tre{
    text-align: center;
}
.quattro{
    text-align: center;
}
.logos{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 5rem;
   
}

#partner{
    
    padding-top: 2rem;
    background-color: rgba(253, 249, 249, 0.689);
}
#partner h3{
    font-size: 2rem;
    text-align: center;
}
.love{
    display: flex;
}
.love div{
    width: 25%;
    padding: 0 2rem;
    justify-content: center;
}