@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap");

html,
body {
  margin: 0;
}

body {
  font-family: "Lexend", sans-serif;
  /* padding: 0 6.25rem; */
}

h1 {
  font-weight: 700;
  font-size: 4.25rem;
}

header {
  text-align: center;
  /* margin: 0 10rem; */
}

h1 ~ p {
  color: #706d73;
  font-weight: 500;
  font-size: 1.25rem;
}

button {
  /* font-family: inherit; */
  border: 1px solid #1d1b1f;
  border-radius: 4px;
  background: #f0f0f0;
  padding: 1rem 1.25rem;
  box-shadow: 4px 4px 0px #1d1b1f;
}

section > h2 {
  text-align: center;
}
/* navbar */

nav {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  position: sticky;
  top: 0;
  margin-top: 2rem;
  /* 
        position: fixed;
        width: calc(100% - 100px);
    */
  background-color: white;
  z-index: 1;
  border: 1px solid black;
}

section > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

section > div > div {
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: flex-start;
}

section .card {
  border: 1px solid black;
  border-radius: 8px;
  width: 20.5rem;
  color: #302e32;
}

section .card .descrizione {
  color: #706d73;
}

section .card > div {
  padding: 1rem;
}
