/* 

selettore { 
    proprietà: valore; 
    proprietà: valore;
}

*/
html{
    font-size: 20px;
}

/* questa regola andrà ad essere sovrascritta da quella nel tag style subito dopo*/
body{
    background-color: #0000ff;
    font-family: 'Lexend', sans-serif;
    font-size: 2rem;
    color: #19192d
}

/* selettori semplici (tag, id, class) */
/* selettore semplice tag */ 
p{
    background-color: yellow;
}
main{
    background-color: darkkhaki;
}
footer {
    background-color: cyan;
}
body{
    background-color: blue;
}
button{
    border-style: dashed;
    border-color: red;
    border-width: 5px;
    border: 5px dashed red;
    font-size: 3rem;
    margin-top: 100px;
}

/* 
    operatore virgola per applicare a più elementi
    in contemporanea lo stesso stile 
*/
h1, h2, h3, h4{
    color: red;
}
h1, h3{
    font-size: 50px;
}

/* 
    h1{
        color: red;
        font-size: 50px;
    }
    h2{
        color: red;
    }
    h3{
        color: red;
        font-size: 50px;
    }
    h4{
        color: red;
    } 
*/

/* selettore semplice -> id */
/* #speciale {
    background-color: green;
} */

#pippo{
    font-size: 25px;
}

/* selettore semplice -> class */

.rosso{
    background-color: red;
}

/* selettori combinatori */
/* discendente  */

main p{
    background-color: orange;
}

/* figlio >  */

main > p{
    
    /* 
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;

    margin: 20px;

    margin: 20px 20px; 
    */
    /* top-bottom left-right */

    margin: 20px 20px 20px 20px;
    /* top - right - bottom - left -> orario */

    padding: 20px 30px 40px 100px;

    border: 5px solid black;
}

main > div > div > .rosa {
    background-color: pink;
}

/* fratello generico ~ 
    mac -> option + 5
    windows -> alt + 126
    linux -> alt + freccia su
*/
/* 
    tutti i paragrafi che si trovano sullo stesso
    livello del div, che si trovano subito dopo il div
*/
div ~ p{
    background-color: green;
}

/* fratello adiacente + */
/* il primo tra quelli selezionati con l'operatore generico */
div + p{
    background-color: white;
}

