#contenitore{
    width: 200px;
    display: flex;
    height:200px;
    flex-direction: column;
    flex-wrap: wrap;
    gap:0.75rem
}
body input{
    border: 1px solid grey;
    border-radius:5px
    
}

:disabled::placeholder{
    color: grey;
}
.text:focus{
    border:1px solid cornflowerblue;
 
    background-color: rgb(235, 248, 252);
    
} 
.text:hover {
    box-shadow: 1px 1px 3px cornflowerblue;
    border-color: cornflowerblue;
}
.ierror2{
        border-color:red
    }
.iconfirmed2{
        border-color:green
    }
    .ientered2{
        border-color: antiquewhite;
    }
  