@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');
body{
  font-family: 'Lexend', sans-serif;
padding: 0px 6.25rem;
}
h1{
  font-weight: 700;
  font-size: 4.25rem;
}
header{
 text-align: center;
 margin: 0 10rem;
}
h1 ~ p{
  color: #706D73;
  font-weight: 500;
  font-size: 1.25rem;
}


button{
  font-family: inherit;
  border: 1px solid #1D1B1F;
  border-radius: 4px;
  background-color: #F0F0F0;
  padding: 1rem 1.25rem;
  box-shadow: 4px 4px 0px #1D1B1F;
  
}
.paginacentrale{
  text-align: center;
  padding-top: 6rem;
}
section > h2 {
  font-weight: 600;
font-size: 2.375rem;
}
.paginacentrale > div > h3 {
font-weight: 600;
font-size: 1.25rem;
}
.paginacentrale  p {
  font-weight: 300;
  font-size: 1rem;
}
.loghi {
  text-align: center;
background-color: #F0F0F0;
padding: 50px;
margin: 40px -110px;
}
.recensioni {
text-align: center;
}
.recensioni div {
  border: 1px solid #1D1B1F;
  background-color: #EBEBEB;
  text-align: left;
  padding-left: 7px;
  padding-bottom: 20px;
  font-weight: 300;
}
#nomi {
  font-weight: 500;
}
.secondoblocco {
text-align: center;
}
.secondoblocco > h4 {
  font-weight: 400;
}

.secondoblocco div {
  border: 1px solid #1D1B1F;
  text-align: left;
  padding-left: 7px;
  padding-bottom: 20px;

}
.secondoblocco> div > span {
  border: 1px solid #1D1B1F;
  
}
.fine{
  background-color: #F0F0F0;
  margin: 50px -110px;
  padding: 150px;
}
footer {
  background-color: #1D1B1F;
  color: #D3D0D6;
  margin:  -110px ;
  padding: 50px;
}
footer > div {
  text-align: right;
}
ul{
  list-style-type: none;
}