@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap");
html body {
  margin: 0;
}
body {
  font-family: "Lexend", sans-serif;
  /* padding: 0px 6.25rem; */
}

nav {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 3rem 3rem 0 3rem;
}
/* nav ul li {
  display: inline-flex;
  justify-content: space-between;
  flex-direction: row;
} */
nav ul {
  display: flex;
  gap: 7rem;
  list-style-type: none;
}

h1 {
  font-weight: 700;
  font-size: 4.25rem;
}

header {
  text-align: center;
  margin: 0 10rem;
}
h1 ~ p {
  color: #706d73;
  font-weight: 500;
  font-size: 1.25rem;
}

button {
  font-family: inherit;
  border: 1px solid #1d1b1f;
  border-radius: 4px;
  background-color: #f0f0f0;
  padding: 1rem 1.25rem;
  box-shadow: 4px 4px 0px #1d1b1f;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.paginacentrale {
  text-align: center;
  padding-top: 6rem;
}
section > h2 {
  font-weight: 600;
  font-size: 2.375rem;
  text-align: center;
}
.paginacentrale > div > h3 {
  font-weight: 600;
  font-size: 1.25rem;
  text-align: center;
}
.paginacentrale p {
  font-weight: 300;
  font-size: 1rem;
  text-align: left;
}
.alineare {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  margin: 4rem;
}
.alineare-sinistra {
  display: flex;
  gap: 4rem;
  flex-direction: column;
  margin: 1.25rem;
  padding: 3.125rem;
}
.alineare-destra {
  display: flex;
  gap: 4rem;
  flex-direction: column;
  margin: 1.25rem;
  padding: 3.125rem;
}
.loghi {
  text-align: center;
  background-color: #f0f0f0;
  padding: 3.125rem;
}
.loghi svg {
  padding: 4rem;
  width: 7rem;
}

.recensioni > div > div > div {
  padding-bottom: 0.625rem;
  font-weight: 300;
  background-color: #ebebeb;
  border: 1px solid #1d1b1f;
  border-radius: 0.25rem;
  width: 20.5rem;
}
section .freccie {
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
}
.recensioni h2 {
  text-align: center;
  padding-bottom: 1.25rem;
}
.recensioni p {
  text-align: left;
  padding: 0.4375rem;
}
.recensioni div span {
  text-align: left;
  padding: 0.4375rem;
}
.nomi {
  font-weight: 500;
}
.alineamento-immagini {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
  gap: 2rem;
}
#blocchi h4 {
  text-align: center;
}
#blocchi h3 {
  text-align: left;
}
#blocchi > div {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}
#blocchi > div > div {
  border: 1px solid black;
  border-radius: 0.5rem;
  width: 40rem;
  padding: 1rem;
  position: relative;
}

#blocchi span {
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: white;
  position: absolute;
  top: -1.5rem;
  left: -1.5rem;
}

.fine {
  background-color: #f0f0f0;
  padding: 2rem 6.25rem;
  margin-top: 3.5rem;
}
.fine h2,
.fine h3 {
  text-align: left;
}

footer {
  background-color: #1d1b1f;
  color: #d3d0d6;
  padding: 40px;
}
footer > div {
  text-align: right;
  line-height: 2rem;
  font-weight: 200;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2rem;
}
footer ul {
  list-style-type: none;
}
footer h5 {
  gap: 0.375rem;
}
