.titolo{
    display: flex;
    grid-template-columns: 1fr auto;
    position: relative;
}

.titolo h1{
    grid-column: 1;
}

.titolo img{
    position: absolute;
    top: 0;
    right: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 6.25rem;
  }

  nav ul {
    list-style-type: none;
    display: flex;
    gap: 3rem;
  }
  
  nav a {
    text-decoration: none;
    color: inherit;
  }