body{
    font-family: 'lexend', sans-serif;
    padding: 0 6.25rem;
    }
    
    h1{
        font-weight: 700;
        font-size: 4.25rem;
    }
    
    header{
    text-align: center;
    margin: 0 10rem;
    }
    
    
    
    h1 ~ p{
        color:#706D73;
        font-weight: 500;
        font-size: 1.25rem;
    }
    
    button{
        font-family: inherit;
        border: 1px solid #1D1B1F;
        border-radius: 4px;
        background-color: #F0F0F0;
        padding: 16px 20px;
        box-shadow: 4px 4px 0px #1D1B1F;
    }
    
    main{
    
        padding: 100px;
    }

   

    h2{
        width: 32.5625rem;
        height: 3.625rem;
        margin-left:140px;
    }


   .titolo1{
    text-align: center;
   }
    

    /* .numero2{
        justify-content: space-between;
        flex-direction: right;
    
    }

    .numero3{
        justify-content: space-between;
    }

    .numero4{
        justify-content: space-between;
    }
    */
    .partner{
        text-align: center;
        margin-top: 20%;
        background-color: #F0F0F0;
        padding-top: 4%;
        padding-bottom: 15%;
    } 

    .contenitore{
        /* display: flex; */
        /* flex-direction: column; */
    }


    .contenitore2{
        display: flex;
        gap: 3rem;
        padding-left: 15%;
    

    }

    .contenitore3{
        text-align: center;
        margin-top: 10%;
    }

    .contenitore4{
        display: flex;
        gap:2rem;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
    }

    /* .nome1{
        font-style: ;

    } */

    .contenitore5{
        text-align: center;
        margin-top: 15%;
    }

    .sottotitolo{
        text-align: center;
        margin-top: -4%;
        margin-left: 4%;
    }

    .arrotondato{
        padding-left: 14%;
        padding-top: 4%;
       
    }


    .primasezione{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 24px 16px;
        gap: 16px;
        width: 328px;
        height: 212px;
        background: #EBEBEB;
        border-radius: 8px 8px 8px 8px;
        border: 1px solid black;
    }


    .secondasezione{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 24px 16px;
        gap: 16px;
        width: 328px;
        height: 212px;
        background: #EBEBEB;
        border-radius: 8px 8px 8px 8px;
        border: 1px solid black;
    }


    .terzasezione{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 24px 16px;
        gap: 16px;
        width: 328px;
        height: 212px;
        background: #EBEBEB;
        border-radius: 8px 8px 8px 8px;
        border: 1px solid black;
    }


    .penultimo{
        margin-top: 13%;
        background-color: #F0F0F0;
        text-align: left;
        padding-bottom: 10%;
        padding-left: 10%;
    }

    .explore{
        font-family: inherit;
        border: 1px solid #1D1B1F;
        border-radius: 4px;
        background-color: #F0F0F0;
        padding: 16px 20px;
        box-shadow: 4px 4px 0px #1D1B1F;
    }

    .scrittatitolo{
        margin-right: 10%;
    }