@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: "Lexend",sans-serif;
    padding: 0 6.25rem;
    }

a {
    color: black;
}

#logo{
    color: black;
    font-size: 1.25rem;
    
    /* perchè il logo rimane blu anche se imposto il nero?*/
}

#menù{
    text-align: right;
    word-spacing: 5.5rem;
}
h1{
    line-height 1.875rem;
    font-weight: 700;
    font-size: 4.25rem;
}
    

header{
    text-align: center;
    margin: 0 10rem;
}

h1{
    font-weight: 700;
    font-size: 4.25rem;
}
h1 ~ p{
    color: #706D73;
    font-weight: 500;
    font-size: 1.25rem;
}

button{
    font-family: inherit;
    border: 1px solid #1D1B1F;
    border-radius: 4px;
    background: #F0F0F0;
    padding: 1rem 1.25rem;
    box-shadow: 4px 4px 0px #1D1B1F;
}

#whyuse{
    text-align: center;
}

h2 {
    font-weight: 700;
    font-size: 2.25rem;    
}

.colonnasx{
    float: left;
    width: 45%;
    padding: 5%
}