@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: "Lexend",sans-serif;
    padding: 0;
    margin: 0;
   }

a {
    color: black;
}

.logomypage{
    font-size: 1.25rem;
}

nav{ 
    padding-top: 1.10rem;
    padding: 0 6.25rem;
    display:flex;
    justify-content: space-between;    
}

nav div{
    word-spacing: 3rem;
}

h1{
    line-height: 1.875rem
    font-weight 700
    font-size 4.25rem;
}
    

header{
    text-align: center;
    margin: 0 15rem;
    
}

h1{
    font-weight: 700;
    font-size: 4.25rem;
}
h1 ~ p{
    color: #706D73;
    font-weight: 500;
    font-size: 1.25rem;
}

button{
    font-family: inherit;
    border: 1px solid #1D1B1F;
    border-radius: 4px;
    background: #F0F0F0;
    padding: 1rem 1.25rem;
    box-shadow: 4px 4px 0px #1D1B1F;
}

h2 {
    font-weight: 700;
    font-size: 2.25rem;
    text-align: center;
    padding-top: 3rem;
}

.flex{
    display: flex;
    flex-direction: row;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 10rem;
    padding-top: 2rem;
    gap: 15rem;

}

.mini_title_whyuse {
    text-align: center;
}

.partner{
    background-color: #F0F0F0;
}

.partnerlogo{
    display:flex;
    justify-content: space-between;
    padding: 0 5rem 5rem 5rem; 
}

.arrows {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center
}

.feedback .cards>div{
border: 1px solid black;
border-radius: 8px;
width: 20.5rem;
background-color: #EBEBEB;
}

.feedback img{
    border-radius: 8px 8px 0 0;
}

.feedback .cards>div>p{
margin-right: 1rem;
margin-left: 1rem;
margin-top: 1.5rem;
margin-bottom: 1.5rem;
}

.feedback .cards{
    display: flex;
    justify-content: center;
    gap: 3.125rem;
    align-items: flex-start;
}

.job{
    color:#706D73;
}



.how_does>p {
    text-align: center;
}

.how_does>div>div{
    border: 2px black solid;
    width: 20.5rem;
    height: 0%;
}

