@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: "Lexend",sans-serif;
   }

a {
    color: black;
}

.logomypage{
    font-size: 1.25rem;
}

nav{ 
    padding-top: 1.10rem;
    padding: 0 6.25rem;
    display:flex;
    justify-content: space-between;    
}

nav div{
    word-spacing: 3rem;
}

h1{
    line-height: 1.875rem
    font-weight 700
    font-size 4.25rem;
}
    

header{
    text-align: center;
    margin: 0 25rem;
    
}

h1{
    font-weight: 700;
    font-size: 4.25rem;
}
h1 ~ p{
    color: #706D73;
    font-weight: 500;
    font-size: 1.25rem;
}

button{
    font-family: inherit;
    border: 1px solid #1D1B1F;
    border-radius: 4px;
    background: #F0F0F0;
    padding: 1rem 1.25rem;
    box-shadow: 4px 4px 0px #1D1B1F;
}

h2 {
    font-weight: 700;
    font-size: 2.25rem;
}

.titlesection {
    text-align: center;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.flex{
    display: flex;
    flex-direction: row;
    padding-left: 20rem;
    padding-right: 20rem;
    padding-bottom: 10rem;
    gap: 15rem;

}

.mini_title_whyuse {
    text-align: center;
}

.partner{
    background-color: #F0F0F0;
}

.partnerlogo{
    display:flex;
    justify-content: space-between;
    padding: 0 5rem 5rem 5rem; 
}