@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700;800&display=swap');

body{
    background-color: white;
    font-family: 'Lexend', sans-serif;
    border: dotted red;
}

.firstline{
    font-weight: 300;
    font-size: x-small;
    line-height: 20px;
    letter-spacing: 0.6px;
    color: #1D1B1F;
    display: flex;
    justify-content: space-between;
    margin: 1rem 1rem 1rem 1rem  ;
}

header {
    text-align: center;
    padding: 100px;
    gap: .625rem;
}


h1{
    font-weight: 700;
    font-size: 68px;  
}

button{
    font-family: inherit;
    border: 1px solid #1D1B1F;
    border-radius: 4px;
    padding: 1rem 1.25rem;
    box-shadow: 4px 4px #1D1B1F;
}

.primagrid{
    display: grid; 
    grid-template-columns: 1fr 1fr;
    align-content: space-around;
    gap: 4rem;
    

}

.primasection{
    text-align: center;
    padding: 120px 100px;
    gap: 10px;
    
}

.Partner{
    text-align: center;
    padding: 80px 100px;
    gap: 40px;
    border: dottedred;
    background-color: bisque;
}

.elenco2{
    display: flex;
    justify-content: space-between;

}

.terzasection{
    align-content: center;
}

.secondagrid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.secondagrid > div{
    border: solid black 1px;
    align-content: center;
    margin: 2px 2px 2px 2px;
    padding: 20px 20px 20px 20px;
    text-align: center;
}
#Our{
    text-align: center;
}

.quartasection{
    border: dotted red;
    text-align: center;
}

.quartasection{
    border: dotted red;
}

.terzoelenco > div {
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 40px 40px 40px 40px;
    padding: 10px 10px 10px 10px;
    border-radius: 9px;
}

.terzoelenco > div > span{
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 9px;
    
}

.lastsection{
    border: dotted red;
    text-align: left;
    padding: 60px;
    gap: 20px;
}

footer{
    background-color: black;
    color: white;
}

.footer{
    font-size: small;
    line-height: 10px;
    display: flex;
    justify-content: space-between;
    margin: 1rem 1rem 1rem 1rem;
    padding: 10px 10px 10px 10px;
}

.liste{
    display: flex;
}
.liste > div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}
.liste h5 > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.liste2 ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*.liste ul > li {
    margin-bottom: 1rem;
    margin-left: -2.5rem;
}*/
.lastline{
    font-size: x-small;
    display: flex;  
    justify-content: space-between;
}

#loghisocial{
    height: 25px;
    
    border-radius: 0px;

}