@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700;800&display=swap');

body{
    background-color: white;
    font-family: 'Lexend', sans-serif;
    color: #1D1B1F;
}

html, body{
    margin: 0;
}

header {
    text-align: center;
    padding: 100px;
    gap: .625rem;
    background-image: image()
}


h1{
    font-weight: 700;
    font-size: 68px;  
}

h2{
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
}

h3{
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
}

button{
    font-family: inherit;
    border: 1px solid #1D1B1F;
    border-radius: 4px;
    background-color: #F0F0F0;
    padding: 1rem 1.25rem;
    box-shadow: 4px 4px 0px #1D1B1F;
}

/* barra di navigazione */

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
    margin-top: 0;
    /* 
        position: fixed;
        width: calc(100% - 100px);
    */
    background-color: white;
    z-index: 1;
    border: 1px solid black;
}

nav ul{
    list-style-type: none;
    display: flex;
    gap: 48px;
}

nav a{
    text-decoration: none;
    color: inherit;
}

/*prima sezione how*/

#Why{
    font-size: 48px;
    padding-bottom: 40px;

}
.primagrid{
    display: grid; 
    grid-template-columns: 1fr 1fr;
    align-content: space-around;
    gap: 4rem;
    margin: 50px;
    

}

#P1, #P2, #P3, #P4 {
    width: 360px;
    height: 263px;
}

.primasection{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 120px 100px;
    gap: 10px;
    
}
 
/* div contenente la sezione partners*/

.Partner{
    text-align: center;
    padding: 30px 30px 50px 30px;
    background-color: #F0F0F0;
}

/* size del titolo Partners */
span > h2{
    font-size: 48px;
}

/* l'elenco dei loghi partners*/
.elenco2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 24px 50px;
}

/* size dei loghi */
#apple{
    width: 6rem;
    height: 2rem;
}

#amazon{
    width: 106.88px;
    height: 32px;
}

#google{
    width: 96.63px;
    height: 32px;
}

#microsoft{
    width: 150.4px;
    height: 32px;
}

#apple{
    width: 159.2px;
    height: 32px;
}


/* sezione card recensioni */

.cardsection{
    align-content: center;
}

/* div contente le card*/
.genitorecards{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    align-content: center;
    padding: 20px 20px 20px 20px;
    text-align: left;
}

/* div contenente le tre cards*/
.cards{
    border: solid black 1px;
    border-radius: 10px;
    background-color: #EBEBEB;
    margin: 20px;
    

}

/* padding every card*/
#card1{
    padding: 0 0 1rem 1rem;
    
}

#card2{
    padding: 0 0 1rem 1rem;
}

#card3{
    padding: 0 0 1rem 1rem;
}

/* descrizione lavori e aziende cards*/
#descrizione{
    color: #706D73;

}

/* attributi delle frecce*/
.frecce{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

/*div contentente le frecce e le cards*/
.genitorecardefrecce{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* sezione 3 cards con i numeretti*/

/* allineamento del titolo al centro */
#how h2{
    text-align: center;
}

/* imposto il div contenitore della sezione senza il titolo*/
#how > div {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

/* specifiche delle singole card */
#how > div > div{
    border: 1px solid black;
    border-radius: .5rem;
    width: 40rem;
    padding: 1rem;
    position: relative;
}

/* allineo i singolo titolini dentro le card a sinistra*/
#how h3{
    text-align: left;
}

/* allineo al centro i paragrafi dentro le cards */
#how > p{
    text-align: center;
}

/* imposto i numeretti con bordo, sfondo, scritta e posizione del quadrato*/
#how span{
    border: 1px solid black;
    border-radius: .5rem;
    padding: 1rem;
    background-color: white;
    position: absolute; /* per ogni absolute ci va un relative nel contenitore che lo contiene*/
    top: -1.5rem;
    left: -1.5rem;
}

/* sezione finale con il bottone */
.lastsection{
    text-align: left;
    padding: 60px;
    gap: 20px;
    background-color: #F0F0F0;
}

/* imposto colore titolo della sezione */
.lastsection h3{
    color: #302E32;
}

/* imposto l'ultimo bottone */
#bottone{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

/* imposto l'intera sezione del footer*/
footer{
    background-color: #1D1B1F;
    color: #D3D0D6;
    padding: 2rem 6.25rem;
}

footer > div{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

footer h5{
    font-size: 1rem;
    margin-top: 0;
}

footer ul{
    list-style-type: none;
    padding-left: 0;
    font-weight: 400;
}

footer > div > div{
    display: flex;
    gap: 2rem;
}

footer ul > li{
    padding-bottom: 1.5rem;
    color: #D3D0D6;
}

footer > div a{
    text-decoration: none;
    color: inherit;
}
footer > div #title{
    font-weight: 600;
}

footer hr{
    border: solid 1px #FBFAFC;
}

.fa-brands{
    font-size: 25px;
}


