@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800&display=swap');
body{ font-family: 'Lexend', sans-serif;
padding: 0 6.25rem;
}
header{
    text-align: center;
    margin: 0 10rem;
}
h1{
    font-size: 4.25rem;
    font-weight: 700;
}
h1 ~ p{
    font-weight: 500;
    font-size: 1.25rem;
    color: #706D73;
}
button{
    font-family: inherit;
    padding: 1rem 1.25rem;
    background: #F0F0F0;
    border-radius: 4px;
    border: 1px solid #1D1B1F;
box-shadow:0.25rem 0.25rem 0rem #1D1B1F;
}