
* {
    /* border: 2px dashed brown; */
}
html,body {
    margin: 0;
}
/************************************/
/************** Body **************/
/************************************/

body {
        font-family:'DM Sans', sans-serif; ;

}
.grid-parent {
    border: 1px solid red;
    display: grid;
    grid-template-columns: 20rem 2fr;
    
}

/************************************/
/************** Navbar **************/
/************************************/

nav {
    border: 1px solid green;
}

/************************************/
/************** Header **************/
/************************************/

header {
    border: 1px solid blue;
}

/************************************/
/*************** Main ***************/
/************************************/

main {
    border: 1px solid goldenrod;
}


