@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap');

/**{
    border: 1px dashed ;
}*/

html, body{
    margin: 0s;
}

nav{
    display:flex;
}

h1 ~ p{
    color: #706D73;
    font-weight: 500;
    font-size: 1.25rem;
}


button{
     font-family: inherit; 
    border: 1px solid #1D1B1F;
    border-radius: 4px;
    background: #F0F0F0;
    padding: 1rem 1.25rem;
    box-shadow: 4px 4px 0px #1D1B1F;
}

.collegamenti{
    align-items: flex-end;
}

body{
    font-family: 'Lexend', sans-serif;
    padding: 0 6.25rem;
}

h1{
    font-weight: 700;
    font-size: 4.25rem;
}

header{
    text-align: center;
    margin: 10rem 10rem; 
}


#title{
    text-align:center;
    font-size:35px;
    padding-bottom: 100px;
}

.primo{
    display:flex;
    gap: 6rem;
    margin-bottom:2rem;
    justify-content: center;

}

.cont_1{
    width:22.5rem;
}

.cont_1 > div{
    text-align:center;
}

#partner {
    text-align: center;
    font-size: large;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-inline: 10rem;
    background-color: #b7b6b8;
}

.loghi{
    justify-content: flex-start;
}