body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: lightblue;
}

form {
  display: grid;
  grid-template-columns: auto auto;
  width: 25rem;
  height: 25rem;
  border: 0.2rem solid black;
  border-radius: 1rem;
}

input {
  width: 45%;
  height: 1.3rem;
}

.Nome1 {
  border: 0.125rem solid green;
}
.Nome2 {
  border: 0.125rem solid red;
}
