@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap');

* {
    border: 1px dashed red;
}

html, body {
    margin: 0;
}

body {
    font-family: 'Lexend', sans-serif;
    /* padding: 0 6.25rem; */
}



/* NAVBAR */

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 50px;
}

#nav-title {
    margin-right: auto;
    font-size: 1.5em;
}

nav li {
    list-style: none;
    display: inline-block;
    padding: 0px 30px;
    font-size: 1em;
}

nav a {
    text-decoration: none;
    color: black;
}



/* SECTION1 */

h1 {
    font-weight: 700;
    font-size: 4.25rem;
}

header {
    text-align: center;
    padding: 100px;
}

h1 ~ p {
    color: #706D73;
    font-weight: 500;
    font-size: 1.25rem;
}

button {
    /* font-family: inherit; */
    border: 1px solid #1D1B1F;
    border-radius: 4px;
    background: #F0F0F0;
    padding: 1rem 1.25rem;
    box-shadow: 4px 4px 0px #1D1B1F;
}

.grigio {
    background-color: gray;
}



/* CARDS */

.section2 h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 3.25rem;
}

.section2 .cards {
display: flex;
align-items: center;
justify-content: center;
flex-wrap: row wrap;
flex-direction: row;
background: #FBFAFC; 
padding: 100px;
gap: 10px;
}

.section2 .card {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    padding: 24px 16px; 
    gap: 16px;
    
    width: 360px;
    height: 263px;
    
    background: #FBFAFC;
    border-radius: 8px;
    
    flex: none;
    border: 0;
    flex-grow: 0;
}

.section2 .card .sub-title {
    font-size: 1em;
}

.section2 .card img {
    margin: auto;
}

.section3 h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 3.25rem;
}

