@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap");

/* general */

html,
body {
    margin: 0;
}

body {
    font-family: "Lexend", sans-serif;
    color: #1d1b1f;
    /* padding: 0 6.25rem; */
}

h1 {
    font-weight: 700;
    font-size: 4.25rem;
}

h2 {
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
}

h3{
    font-weight: 600;
    font-size: 1.25rem;
    text-align: center;
}

button {
    font-family: inherit;
    border: 1px solid #1d1b1f;
    border-radius: 4px;
    background: #f0f0f0;
    padding: 1rem 1.25rem;
    box-shadow: 4px 4px 0px #1d1b1f;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* navbar */

nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    position: sticky;
    top: 0px;
    width: 90%;
    background-color: white;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 3rem;
}

nav a {
    text-decoration: none;
    color: inherit;
}

/* header */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    background-image: url(./assets/herobackg.png);
    background-position: center;
    background-repeat: no-repeat;
}
.mypage {
    font-weight: 600;
    font-size: 1.3rem;
}
header h1 ~ p {
    color: #706d73;
    font-weight: 500;
    font-size: 1.25rem;
}

/* section why */

#why{
    padding: 7.5rem 0;
}

#why > div {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-bottom: 1rem;
}

#why > div > div {
    width: 22.5rem;
    padding: 1.5rem;
}

#why > div > div > div{
    text-align: center;
}

#why2 > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#why2 .container-card {
    display: flex;
    flex-direction: column;
}

#why2 .container-card > div {
    width: 22.5rem;
    padding: 1.5rem;
}

/* section partner */
#partner{
    background-color: #F0F0F0;
    padding: 2rem 0;
   
}

#partner > div{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    gap: 3rem;
}

/* section testimonial */

section#testimonial > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

section#testimonial > div > div {
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: flex-start;
}

section#testimonial .card {
    border: 1px solid black;
    border-radius: 8px;
    width: 20.5rem;
    color: #302e32;
}

section#testimonial .card .descrizione {
    color: #706d73;
}

section#testimonial .card > div {
    padding: 1rem;
    
}

#testimonial {
    margin-top: 9rem;
    margin-bottom: 9rem;
}


/* section how */

#how > div {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    margin: 5rem;
}


#how > div > div{
    border: 1px solid black;
    border-radius: .5rem;
    width: 40rem;
    padding: 1rem;
    position: relative;
}

#how h3{
    text-align: left;
}

#how > p{
    text-align: center;
}

#how span{
    border: 1px solid black;
    border-radius: .5rem;
    padding: 1rem;
    background-color: white;
    position: absolute;
    top: -1.5rem;
    left: -1.5rem;
}

/* section cta */
#cta{
    background-color: #F0F0F0;
    padding: 2rem 6.25rem;
}

#cta h2, #cta h3{
    text-align: left;
}
/*section footer*/
#footer {
    background-color: #1D1B1F;
}
.mypagewhite {
    color: #ffffff;
    font-weight: 600;
    font-size: 1.25rem
}
