@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800&display=swap');
/**{
    border: 1px dashed red;
}*/

body {
    font-family: 'Lexend', sans-serif;
    text-align: center;
    color: #1D1B1F;
    margin:0;
}

header div {
    text-align: center;
    /*padding: 7rem 25.25rem;
     /*margin: 6rem 0; */
    background-image: url(/marco-veronelli/modulo-1/assets/sfondo\ header.svg);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    width: 50%;
    margin: 6rem auto;

}

/*header div{
    background-image: url(/marco-veronelli/modulo-1/assets/sfondo\ header.svg);
    background-repeat: no-repeat;
  background-position: right top;
}*/

h1 {
    font-size: 4.25rem;
    font-weight: 700;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1.5rem;
}

h1~p {
    font-weight: 500;
    font-size: 1.25rem;
    color: #706D73;
}

button {
    font-family: inherit;
    padding: 1rem 1.25rem;
    margin: 1rem 0;
    background: #F0F0F0;
    border-radius: 4px;
    border: 1px solid #1D1B1F;
    box-shadow: 4px 4px 0px #1D1B1F;
}

.create button{
    font-family: inherit;
    display: flex;
    align-items: center;
    gap: 0.5rem;
} 

nav {
    z-index: 2;
    padding: 2rem 5rem 2rem 5rem;
    position: sticky;
    top:0px;
    width:92%;
    background-color: white;
    box-shadow: 0px 0px 10px grey;
}

nav div {
    gap: 40px;
}

nav a {
    text-decoration: none;
}

.flexbetween {
    display: flex;
    justify-content: space-between;

}

.flexcenter {
    display: flex;
    justify-content: center;
}

.row {
    gap: 2rem;

}

.secondrow {
    row-gap: 2rem;
    column-gap: 4rem;
}

.why {
    margin-top: 5.5rem;
    margin-bottom: 7.6875rem;
}

.why p {
    color: #706D73;
    text-align: left;
    padding: 0 2.5rem;
    ;
}

.partner {
    background-color: #F0F0F0;
    padding-top: 5rem;

}

.partner svg {
    width: 100%
}

.partner div {
    display: flex;
    justify-content: space-around;
    padding: 2rem 3rem;
    flex-wrap: wrap;
    gap: 2rem;
}

.secondrow div {
    width: 25%;
    margin-top: 4rem;
}

.row div {
    width: 25%;
    margin-top: 4rem;
}

.Sectionhow {
    margin-top: 6rem;
}

.how {
    margin: 4rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.how div {
    border: 0.065rem solid #a2a2a2;
    border-radius: 10px;
    width: 40rem;
    text-align: left;
    padding: 0rem 1rem 1rem 1rem;
    position: relative;
}

.how span {
    z-index: 1;
    border: 0.065rem solid #a2a2a2;
    padding: .625rem;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    top: -1.5rem;
    left: -1.3rem;
}

.create {
    background-color: #F0F0F0;
    padding: 2rem;
    text-align: left;
}

.create h3 {
    color: #302E32;
}

footer {
    background-color: #1D1B1F;
    color: #FBFAFC;


}

.footerow {
    text-align: left;
    gap: 4rem;
    display: flex;
    justify-content: flex-end;

}

ul {
    list-style-type: none;
}

.mypage {
    display: flex;
}


.testimonial {
    padding: 5rem 0 5rem 0;
}

.testimonial>div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

/* ultma modifica */
.quote>div {
    background-color: #EBEBEB;
    border: 1px solid #bfbfbf;
    border-radius: 9px;
    width: 20.5rem;
    /*width: 20.8%;*/

}

.quote {
    gap: 1.5rem;
    align-items: flex-start;
}

.quote p {
    padding: 0 1rem;
    text-align: left;
    color: #302E32;
}

.quote b {
    color: #1D1B1F;
    font-size: 1.125rem;
}

.quote span {
    color: #706D73;
    display: block;
    margin-top: .25rem;
}

.quote svg {
    margin-top: 8%;

}

/* ultima modifica */
.quote img {
    width: 100%;
}

.weigth {
    font-weight: 300;
    text-align: left;
    padding: 0 1rem;
    margin-top: 0;
}

.contact {

    font-weight: 300;
}

.footnav {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.copy div {
    padding-top: 1rem;
    display: flex;
    gap: 1.5rem;

}

.copy>span {
    color: #D3D0D6;
    font-weight: 300;
    padding-top: 1.75rem;

}

footer>div {
    padding: 3rem 5rem 2.8125rem 7rem;
}

footer a {
    text-decoration: none;
}

footer a:visited {
    color: white;
}

nav a:visited {
    color: black;
}

.footerow+hr {
    padding-top: 1rem;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
}