@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800&display=swap');
/**{
    border: 1px dashed red;
}*/
/* html{
    width: 100%;
} */

body {
    font-family: 'Lexend', sans-serif;
    text-align: center;
    color: #1D1B1F;
    margin:0;
}
h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

button {
    font-family: inherit;
    padding: 1rem 1.25rem;
    margin: 1rem 0;
    background: #F0F0F0;
    border-radius: 4px;
    border: 1px solid #1D1B1F;
    box-shadow: 4px 4px 0px #1D1B1F;
}


.flexbetween {
    display: flex;
    justify-content: space-between;

}

.flexcenter {
    display: flex;
    justify-content: center;

}
/* SECTION HEADER */
header {
    text-align: center;
    background-image: url(/marco-veronelli/modulo-1/assets/sfondo\ header.svg);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    width: 90%;
    margin: 6rem auto;

}
header p {
    font-weight: 500;
    font-size: 1.25rem;
    color: #706D73;
}


/* SECTION NAV */
nav {
    
    z-index: 2;
    padding: 10px;
    position: sticky;
    top: 0;
    margin-top: 2rem;
    /* width:100%; */
    background-color: white;
    /* border:1px solid grey; */
}
nav a:visited {
    color: black;
}

nav ul {
    gap: 3rem;
    display: flex;
    margin-top: 0;
    
}

nav a {
    text-decoration: none;
}


/* SECTION WHY  */

.why {
    margin-top: 5.5rem;
    margin-bottom: 7.6875rem;
}

.why p {
    color: #706D73;
    text-align: left;
    padding: 0 2.5rem;
    ;
}
.row {
    gap: 2rem;
    flex-wrap: wrap;

}

.secondrow {
    row-gap: 2rem;
    column-gap: 4rem;
    flex-wrap: wrap;
}

.secondrow div {
    width: 20rem;
    margin-top: 4rem;
}

.row div {
    width: 20rem;
    margin-top: 4rem;
}

/* SECTION PARTNER */
.partner {
    background-color: #F0F0F0;
    padding: 3rem 0;
}

.partner svg {
    width: 100%
}

.partner div {
    display: flex;
    justify-content: space-around;
    padding: 2rem 2rem;
    flex-wrap: wrap;
    gap: 2rem;
}
.partner h2{
    display: none;
}

/* SECTION TESTIMONIALS */
.testimonial {
    padding-top: 5rem ;
}
.testimonial h2{
    font-size: 1.65rem;
    padding-bottom: 3rem;
}

.testimonial>div {
    /* display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem; */
    margin: 1rem;
}
.testimonial svg:nth-child(-n+3){
    display: none;
}
.testimonial div:nth-child(3){
    display: none;
}

.quote>div {
    background-color: #EBEBEB;
    border: 1px solid #bfbfbf;
    border-radius: 9px;
    width: 20.5rem;
    /*width: 20.8%;*/

}

.quote {
    gap: 1.5rem;
    align-items: flex-start;
    flex-wrap: wrap;
}

.quote p {
    padding: 0 1rem;
    text-align: left;
    color: #302E32;
}

.quote b {
    color: #1D1B1F;
    font-size: 1.125rem;
}

.quote span {
    color: #706D73;
    display: block;
    margin-top: .25rem;
}

.quote svg {
    margin-top: 8%;
    

}


.quote img {
    width: 100%;
}

.weigth {
    font-weight: 300;
    text-align: left;
    padding: 0 1rem;
    margin-top: 0;
}

/* SECTION HOW */
.Sectionhow {
    margin-top: 6rem;
}

.how {    
    margin: 4rem 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.how div {
    border: 0.065rem solid #a2a2a2;
    border-radius: 10px;
    width: 14rem;
    text-align: left;
    padding: 0rem 1rem 0.5rem 1rem;
    position: relative;
    margin: 0 auto;
}

.how span {
    z-index: 1;
    border: 0.065rem solid #a2a2a2;
    padding: .625rem;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    top: -1.5rem;
    left: -1.3rem;
}
/* SECTION CALL TO ACTION */
.create {
    background-color: #F0F0F0;
    padding: 2rem;
    text-align: left;
}

.create h3 {
    color: #302E32;
}

.create button{
    font-family: inherit;
    display: flex;
    align-items: center;
    gap: 0.5rem;
} 

/* SECTION FOOTER */
footer {
    background-color: #1D1B1F;
    color: #FBFAFC;
    padding: 1rem 2.5rem;
    text-align: left;
}

/* .footerow {
    
    gap: 4rem;
    display: flex;
    justify-content: flex-end;
} */

ul {
    list-style-type: none;
}

/* .mypage {
    display: flex;
} */
/* .mypage > div {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
} */
.contact {

    font-weight: 300;
}



.copy div {
    padding: 40px 0;
    display: flex;
    gap: 1.5rem;

}

.copy > span {
    color: #D3D0D6;
    font-weight: 300;

}

footer>div {
    display: flex;
    flex-direction: column;
    
}

footer a {
    text-decoration: none;
}

footer a:visited {
    color: white;
}
.footnav {

        display: flex;
        flex-direction: column;
        padding:0;
}

footer>ul{
    padding: 0;
}



footer hr{
    margin: 1.25rem 0;
}

.fa-brands {
    font-size: 1.5625rem;
}
/* END FOOTER */




@media screen and (min-width: 481px) and (max-width: 833px){
   /*  body{
        background-color: blue;
    } */

    h1{
        font-size: 3.45rem
    }

    h2{
        font-size: 2.5rem;
    }
    
    /* NAVBAR */
    nav {
        padding: 1.625rem 2rem;
    }

    header{ 
        margin: 3.75rem 2rem;

    }

    header p{
        font-size:1.25rem
    }

    /* SECTION WHY */

    .why{
        margin: 5rem 2rem;
    }

    .row{
        flex-wrap: nowrap;
    }
    .secondrow{
        flex-wrap: nowrap;
    }

    /* SECTION PARTNER */

    .partner{
        padding: 3rem 4rem;
    }

    .partner div{
            gap:2.5rem;
    }
    .testimonial h2{
        font-size: 2.5em;
    }
    .quote{
        flex-wrap:nowrap;
    }

    /* SECTION HOW */

    .how div{
        width: 80%;
    }

    /* SECTION FOOTER */

    footer p {
        font-size: 1rem;
    }

    footer>div{
        
    flex-direction: row;
    justify-content: space-between;
    }

    /* footer a+div{
        display: flex;
        justify-content: space-around;
    
    } */
footer>div>div{
    display: flex;
    gap: 3rem;
}

.copy span{
    
    margin-top: 30px;
}
}

@media screen and (min-width: 834px){
    /*  body{
         font-size: 24px;
     } */
nav{
    padding: 1.625rem 6.25rem 1.625rem 6.25rem;
}
header {
    width: 30%;

}
.quote{
    flex-wrap: nowrap;
}

.partner h2{display: block;}

.testimonial div:nth-child(3) {
    display:block;
}

.testimonial svg:nth-child(-n+3) {
     display:inline;
}

.testimonial>div{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.how div{
    width:40rem;
}
footer p {
    font-size: 1rem;
}

footer>div{
    
flex-direction: row;
justify-content: space-between;
}

/* footer a+div{
    display: flex;
    justify-content: space-around;

} */
footer>div>div{
display: flex;
gap: 3rem;
}

.copy span{

margin-top: 30px;
}

 }