@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500&display=swap');


font-family: 'Lexend', sans-serif;
   /* stile del corpo della pagina */
body {
    font-family: 'Lexend', sans-serif;
    margin: 800px, 1600px ;
    padding: 0rem;
    font-family: ,;
  }
  
  /* stile della barra di navigazione */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333333;
    color: #fff;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0rem;
    padding: 0;
  }
  
  .buttom {
    width: 96px;
height: 14px;

font-family: 'Lexend';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 100%;

text-align: center;
letter-spacing: 0.6px;

color: #424242;

flex: none;
order: 0;
flex-grow: 0;
  }
  
  nav li {
    margin: 0 10px;
    font-size: 0.7rem;
    
  }
  
  nav a {
    color: #e0e0e0;
    text-decoration: none;

  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  /* stile dell'intestazione */
  header {
    background-color: #eeeeee;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  header p {
    margin-top: 5px;
  }
  
  header button { 
      color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    
  }
  
  header button:hover {
    background-color: #555;
  }
  
  /* stile delle sezioni */
  section {
    margin-top: 30px;
  }
  
  section h2 {
    margin: 0;
    font-size: 24px;
  }
  
  section div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  section div img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
  
  section div h3 {
    margin: 10px 0 0;
    font-size: 18px;
  }
  
  section div p {
    margin-top: 5px;
    font-size: 14px;
  }
  
  section div span {
    margin-top: 5px;
    font-size: 12px;
  }
  
  /* stile del piè di pagina */
  footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  
  footer h5 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  footer span {
    display: block;
    margin-top: 5px;
    font-size: 14px;
  }
  
  footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 20px 0;
    padding: 0;
  }
  
  footer li {
    margin: 0 10px;
  }
  
  footer a {
    color: #333;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  footer hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
  }
  
  footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  footer div span {
    margin-right: 10px;
  }
  
  footer div a img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }
  