@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap");

body {
  font-family: "Lexend", sans-serif;
  /* padding: 0 6.25rem;*/
}

/*NAVBAR*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*margin-left: 2rem;*/
  /*margin-right: 2rem;*/
  top: 0;
  position: sticky;
  padding: 1.25rem;
  background-color: #fff;
  z-index: 1;
}
nav ul {
  display: flex;
  gap: 3rem;
}

h1 {
  font-weight: 700;
  font-size: 4.25rem;
  text-align: center;
}

h2 {
  text-align: center;
}

header {
  text-align: center;
  margin: 0 10rem;
}

h1 ~ p {
  color: #706d73;
  font-weight: 500;
  font-size: 1.25rem;
  text-align: center;
}

button {
  font-family: inherit;
  border: 1px solid #1d1b1f;
  border-radius: 4px;
  background: #f0f0f0;
  padding: 1rem 1.25rem;
  box-shadow: 4px 4px 0px #1d1b1f;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 4rem;
}

.grid > article {
  width: 18.5rem;
  height: 6.875rem;
  margin-top: 1.875rem;
}

/*Why use ourMypage*/
i {
  font-size: 2rem;
  text-align: center;
}
.icon-align {
  text-align: center;
}

/*PARTNER SECTION*/

.partner-section {
  margin-top: 7.5rem;
  padding: 5rem 6.25rem;
  background-color: #f0f0f0;
}

.partner-section > h3 {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 120%;
  color: #1d1b1f;
  text-align: center;
}

.img-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.partner-section > div > img {
  width: 4rem;
  height: 4rem;
}

/*CUSTUMERS CARD*/
.custumers-cards {
  text-align: center;
  padding-top: 7.5rem;
}

.custumers-cards > h3 {
  /*width: 34rem; da problemi per responsive schermo piccolo*/
  height: 3.625rem;
  font-family: "Lexend";
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 120%;
  margin: 0 auto;
}

/*
.card-section {
  margin-top: 3.5rem;
  display: flex;
  justify-content: space-between;
}
*/

.card-section {
  margin-top: 3.5rem;
  display: flex;
  align-items: flex-start; /*alinea ance in modo che il border dia subito dopo il testo segna avere altri spazi */
  justify-content: center;
}

.card {
  /*width: 20.5rem;
  height: 11.25rem;*/
  border: solid 1px black;
  margin: 1.25rem;
  width: 20rem;
  /* height: 60%;*/
  overflow: hidden;

  border-radius: 8px 8px 0 0;
}

.card > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.15px;
  margin-bottom: 2.25rem;
  border-radius: 8px 8px 0px 0px;
  overflow: hidden;
}
.card > img {
  width: 100%;
}
/*
.card:nth-child(2) {
  /*perche funziona???*/
/* height: 12.5rem;
}*/

.custumers-name {
  width: 43px;
  height: 17px;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.1px;
  text-align: left;
}

.card span {
  display: block;
  text-align: left;
}

/*HOW DOES IT WORK SECTION*/
.work-section {
  text-align: center;
}

.work-section h4 {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
}

.work-section article {
  border: solid 1px;
  margin-top: 3rem;
  position: relative;
  width: 40rem;
  padding: 1rem;
  border-radius: 5px;
}

.number-ticket {
  display: block;
  border: 1px solid;
  position: absolute;
  top: -15%;
  left: -3%;
  background-color: #fff;
  padding: 0.625rem;
  border-radius: 8px;
}

.comments-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-title {
  font-size: 1.25rem;
}

.comments-flex article {
  padding: 10px;
  text-align: left;
}

/*Creat a landing page section*/

.create-landing {
  background-color: #f0f0f0;
  padding: 3.75rem 6.25rem;
  margin-top: 6.5rem;
}

.create-landing h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  text-align: left;
}

.create-landing h3 {
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
}

/*FOOTER SECTION*/

footer {
  padding: 3.75rem 6.25rem;
  background-color: #1d1b1f;
  color: #ffffff;
}

.footer-section {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  align-items: ba;
}

.footer-contact {
  display: flex;
  justify-content: space-between;
}

footer h5 {
  font-size: 1.25rem;
}

footer hr {
  border: 1px solid #fbfafc;
}

.mypage-list {
  margin-right: 0;
}

.footer-contact div li {
  margin-top: 1rem;
}

.footer-contact {
  display: flex;
  align-items: flex-end;
}

.icon-flex {
  display: flex;
  gap: 1.725rem;
}

@media (max-width: 765px) {
  h1 {
    font-size: 2.5rem;
  }

  header {
    margin: 0;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .card-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card-section .card:nth-child(3) {
    display: none;
  }

  .img-flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .img-flex img:nth-child(5) {
    align-self: center;
    margin-left: 4.9375rem;
  }

  .custumers-cards > h3 {
    font-size: 2.5rem;
  }

  .work-section article {
    width: 20rem;
  }

  .create-landing {
    padding: 7.75rem 0.25rem;
  }

  .create-landing h2 {
    font-size: 2.5rem;
  }

  footer {
    padding: 3.75rem 1.25rem;
  }

  .footer-section {
    flex-direction: column;
  }

  .footer-contact {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap");

body {
  font-family: "Lexend", sans-serif;
  /* padding: 0 6.25rem;*/
}

/*NAVBAR*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*margin-left: 2rem;*/
  /*margin-right: 2rem;*/
  top: 0;
  position: sticky;
  padding: 1.25rem;
  background-color: #fff;
  z-index: 1;
}
nav ul {
  display: flex;
  gap: 3rem;
}

h1 {
  font-weight: 700;
  font-size: 4.25rem;
  text-align: center;
}

h2 {
  text-align: center;
}

header {
  text-align: center;
  margin: 0 10rem;
}

h1 ~ p {
  color: #706d73;
  font-weight: 500;
  font-size: 1.25rem;
  text-align: center;
}

button {
  font-family: inherit;
  border: 1px solid #1d1b1f;
  border-radius: 4px;
  background: #f0f0f0;
  padding: 1rem 1.25rem;
  box-shadow: 4px 4px 0px #1d1b1f;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 4rem;
}

.grid > article {
  width: 18.5rem;
  height: 6.875rem;
  margin-top: 1.875rem;
}

/*Why use ourMypage*/
i {
  font-size: 2rem;
  text-align: center;
}
.icon-align {
  text-align: center;
}

/*PARTNER SECTION*/

.partner-section {
  margin-top: 7.5rem;
  padding: 5rem 6.25rem;
  background-color: #f0f0f0;
}

.partner-section > h3 {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 120%;
  color: #1d1b1f;
  text-align: center;
}

.img-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.partner-section > div > img {
  width: 4rem;
  height: 4rem;
}

/*CUSTUMERS CARD*/
.custumers-cards {
  text-align: center;
  padding-top: 7.5rem;
}

.custumers-cards > h3 {
  /*width: 34rem; da problemi per responsive schermo piccolo*/
  height: 3.625rem;
  font-family: "Lexend";
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 120%;
  margin: 0 auto;
}

/*
.card-section {
  margin-top: 3.5rem;
  display: flex;
  justify-content: space-between;
}
*/

.card-section {
  margin-top: 3.5rem;
  display: flex;
  align-items: flex-start; /*alinea ance in modo che il border dia subito dopo il testo segna avere altri spazi */
  justify-content: center;
}

.card {
  /*width: 20.5rem;
  height: 11.25rem;*/
  border: solid 1px black;
  margin: 1.25rem;
  width: 20rem;
  /* height: 60%;*/
  overflow: hidden;

  border-radius: 8px 8px 0 0;
}

.card > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.15px;
  margin-bottom: 2.25rem;
  border-radius: 8px 8px 0px 0px;
  overflow: hidden;
}
.card > img {
  width: 100%;
}
/*
.card:nth-child(2) {
  /*perche funziona???*/
/* height: 12.5rem;
}*/

.custumers-name {
  width: 43px;
  height: 17px;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.1px;
  text-align: left;
}

.card span {
  display: block;
  text-align: left;
}

/*HOW DOES IT WORK SECTION*/
.work-section {
  text-align: center;
}

.work-section h4 {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
}

.work-section article {
  border: solid 1px;
  margin-top: 3rem;
  position: relative;
  width: 40rem;
  padding: 1rem;
  border-radius: 5px;
}

.number-ticket {
  display: block;
  border: 1px solid;
  position: absolute;
  top: -15%;
  left: -3%;
  background-color: #fff;
  padding: 0.625rem;
  border-radius: 8px;
}

.comments-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-title {
  font-size: 1.25rem;
}

.comments-flex article {
  padding: 10px;
  text-align: left;
}

/*Creat a landing page section*/

.create-landing {
  background-color: #f0f0f0;
  padding: 3.75rem 6.25rem;
  margin-top: 6.5rem;
}

.create-landing h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  text-align: left;
}

.create-landing h3 {
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
}

/*FOOTER SECTION*/

footer {
  padding: 3.75rem 6.25rem;
  background-color: #1d1b1f;
  color: #ffffff;
}

.footer-section {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  align-items: ba;
}

.footer-contact {
  display: flex;
  justify-content: space-between;
}

footer h5 {
  font-size: 1.25rem;
}

footer hr {
  border: 1px solid #fbfafc;
}

.mypage-list {
  margin-right: 0;
}

.footer-contact div li {
  margin-top: 1rem;
}

.footer-contact {
  display: flex;
  align-items: flex-end;
}

.icon-flex {
  display: flex;
  gap: 1.725rem;
}

@media (max-width: 765px) {
  h1 {
    font-size: 2.5rem;
  }

  header {
    margin: 0;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .card-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card-section .card:nth-child(3) {
    display: none;
  }

  .img-flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .img-flex img:nth-child(5) {
    align-self: center;
    margin-left: 4.9375rem;
  }

  .custumers-cards > h3 {
    font-size: 2.5rem;
  }

  .work-section article {
    width: 20rem;
  }

  .create-landing {
    padding: 7.75rem 0.25rem;
  }

  .create-landing h2 {
    font-size: 2.5rem;
  }

  footer {
    padding: 3.75rem 1.25rem;
  }

  .footer-section {
    flex-direction: column;
  }

  .footer-contact {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
}
