@import url('https://fonts.googleapis.com/css2? family= Lexend:wght@300;400;500;600;700 & display=swap');

body{
        font-family: "lexend",sans-serif;
        padding: 0 6.25rem;
}
        /* nav */
nav{
        padding:1.625rem 6.25rem;
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    
ul{
        list-style: none;
        display: flex;
        justify-content: flex-end;
        gap: 3rem;
}
    
a{
        text-decoration: none;
        color: inherit;
}
        /* header */
h1{
        font-weight: 700;
        font-size: 4.25rem;

}
header{
        text-align: center;
        margin: 0 10rem;
}

h1 ~ p {
        color: #706D73;
        font-weight: 500;
        font-size: 1.25rem;
}
button{
        font-family: inherit;
        border: 1px solid #1D1B1F;
        border-radius: 4px;
        background: #F0F0F0;
        padding: 1rem 1.25rem;
        box-shadow: 4px 4px 0px #1D1B1F;
}
        /* main */
         /* section */
 h2{
        font-weight: 700;
        font-size: 3rem;
        text-align: center;
        margin-bottom: 1rem;
}
       /* div */
