
/*
    selettore {
        proprietà: valore;
        proprietà: valore;

*/

header{
       background-color: rgb(237, 180, 94);
   
       color: rgb(75, 55, 29);
   }


body{
    background-color: rgb(193, 165, 142);
}

#speciale {
    background-color: black;
    color: antiquewhite;
    size: 50px;
}

.rosso {
    background-color: blueviolet;
    color: aliceblue;
}

/* selettori combinatori */
/* discendente */

main p{
    background-color: rgb(255, 0, 140);
    color: aliceblue;
}

main> div> p {
    background-color: forestgreen;
    color: yellow;
}



/* fratello generico ~ */
.genericbro4>p{
    background-color: crimson;
}

/* fratello adiacente +*/
div+p {
    color: darkmagenta;
}


/*margine e padding*/

.margine {
    background-color: gold;
    color: blue;
    margin: 20px; 20px; 20px; 20px; 20px;
    /* in questo mdoo dico : voglio i margini in senso orario di 20 px. 
    posso scriverlo unoo per uno con valori diveri, oppure scriverlo una sola volta per averlo tutto uguale */

}

.bordo{
    color: aliceblue;
        margin: 40PX; 
    border-style: dashed;
    border-color: aqua;
    border-width: 2px;
    padding: 15px;
    
    }

.sfumaturacolore{
    background:linear-gradient(red,orange,yellow,green,blue,blueviolet,violet)
}