/* /* /*
    selettore {
        proprietà: valore;
        proprietà: valore;
    }
*/

/* body{
    background-color: rgb(187, 240, 222);
    color: blue;   
}
h1, h2, h3{
    color: blueviolet;
} */

/*
    per indicare un id usa #nomeid{}
    per indicare una class usa .nomeclass{}
    questi avranno importanza sul resto, id in cima,
    poi class, poi i cimbinatori
    */

/* #Sezione4blocchi{
    font-size: 25px;
} */

/* combinatori discendenti: tutti i disegnenti 
del main, figli e nipoti
*/

/* main p{
    background-color: bisque;
} */

/* combinatori figli: tutti i figli,
non anche nipoti
in parole povere: tutti i p, figli di un div...*/
/* 
div > p{
    background-color:cornflowerblue;
} */

/* fratello generico: scritto con la ~ (alt+5) 
tutti i tag che scelgo che sono fratelli di un 
altro selezionato
in parole povere: tutti i p successivi sulla stessa
riga di uno span....*/

/* span ~ p{
    background-color: darkcyan;
} 

padding: top r/l bottom
box shadow: x y blur(indicato con px per x e px per y oppure colore ecc)
*/

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    font-family: 'Lexend', sans-serif;
}

/* NAV */

nav{
    padding:1.625rem 6.25rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
}

a{
    text-decoration: none;
    color: inherit;
}

/* HEADER */
header{
    text-align: center;
    padding: 6.25rem 0;
}

h1{
    font-weight: 700;
    font-size: 4.25rem;
    text-align: center;
    margin-bottom: 1rem;
    padding: 0 21rem;
}

#sottotitolo{
    color: #706D73;
    font-weight: 500;
    font-size: 1.5rem;
}

button{
    font-family: inherit;
    padding: 1rem 1.25rem;
    border: .0625rem solid #1D1B1F;
    border-radius: 0.25rem;
    background: #F0F0F0;
    margin-top: 2rem;
    box-shadow: #1D1B1F .25rem .25rem 0;

}

/* MAIN */
#whyuse{
    padding: 7.5rem 6.25rem;
}

h2{
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}

.loghibox{
    text-align: center;
}

#whyuse p{
    color: #706D73;
    font-weight: 400;
    font-size: 1rem;
    display: block;
}

#whyusebox{
    width: 22.5rem;
    padding: 2rem 1rem;
}

#partner{
    padding: 10rem 0;
    background-color: #F0F0F0;
}


/* organizza le img dei partner */

/* RECENSIONI */
#recensioni p{
    color: #302E32;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

h3{
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
}

/* HOW WORK */
#howwork p{
    color: #706D73;
    font-weight: 400;
    font-size: 1rem;
    display: block;
}

#howwork h3{
    text-align: left;
}

h4{
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
}