@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100&family=Inter:wght@200&family=Phudu:wght@300&family=Roboto:wght@100&display=swap');

body {
    font-family: 'Lexend', sans-serif;
    margin: 0;

}

h1 {
    font-weight: 700;
    font-size: 4.25rem;
}

header {
    text-align: center;
    margin: 0 17rem;
    padding: 0 4rem;


}

h1~p {
    color: #706D73;
    font-weight: 500;
    font-size: 1.25rem;
}

button {
    font-family: inherit;
    border: 1px solid #1D1B1F;
    border-radius: 4px;
    background: #F0F0F0;
    padding: 1rem 1.25rem;
    box-shadow: 4px 4px 0px #1D1B1F;
    cursor: pointer;
}

nav a {
    text-decoration: none;
    color: #1D1B1F;
    font-family: 'Lexend', sans-serif;
    font-weight: 600;
}

nav {
    padding: 1rem 6.25rem;
}

nav ul {
    display: inline;

}

nav li {
    list-style-type: none;
    float: right;
    text-decoration: none;
    margin-left: 2%;


}

h2 {
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    margin-top: 12rem;
}

.primo {
    display: flex;
    justify-content: center;
    gap: 13rem;

}

.primoFlex p {
    color: #706D73;
}

.secondoFlex p {
    color: #706D73;
}

.primoFlex>div {
    width: 15rem;
    padding: 1.5rem 0rem 1.5rem 1.5rem;

}

.secondoFlex>div {
    width: 15rem;
    padding: 1.5rem 1.5rem 1.5rem 0rem;
}

.Partner {

    margin-top: 5rem;
    text-align: center;
}

.primoFlex>div div {
    text-align: center;
}

.secondoFlex>div div {
    text-align: center;
}

/*---------------------------------- */
.contenitore-card>div {
    display: flex;
    gap: 4rem;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.contenitore-card {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;

}

.card {
    border: 1px solid black;
    background-color: #EBEBEB;
    border-radius: 8px 8px 8px 8px;
    width: 20rem;

}


.img1,
.img2,
.img3 {
    border-radius: 8px 8px 0px 0px;
    width: 100%;
    height: 10rem;
    object-fit: contain;

}

.img1 {
    background-image: url(img/Video.jpg);
}

.img2 {
    background-image: url(img/Video\ \(1\).jpg);
}

.img3 {
    background-image: url(img/Video\ \(2\).jpg);
}

.card p,
.card h5 {
    padding: 0rem 1rem;
}

/*------------------------------------- */
.container2 h4 {
    text-align: center;
    size: 1rem;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    Gap: 2.8rem;
    margin: 3rem;
}

.flex>div>h3 {
    margin-top: 0.5rem;
}

.flex>div {
    width: 40rem;
    border: 1px solid #1C2B33;
    border-Radius: 8px;
    Padding: 0rem 1rem 0.7rem 1.3rem;

}

.flex div>span {
    border: 1px solid #1C2B33;
    border-Radius: 8px;
    Padding: 0.8rem;
    position: relative;
    left: -2.7rem;
    top: -0.2rem;
    background-color: white;
}

.flex div>p {
    color: #706D73;
}

.container3 {
    background-color: #F0F0F0;
    padding: 5rem 36rem 5rem 8rem;


}

.container3>h2 {
    text-align: left;
    margin: 0px;
}

.container3 button {
    margin-top: 1.1rem;
}

/*---------------------*/

footer {
    background-color: #1D1B1F;
    color: white;
    padding: 3rem 8rem;
}

footer a {
    color: #D3D0D6;
    font-weight: 400;
    text-decoration: none;

}

footer ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;

}

footer li {
    list-style-type: none;


}

.grid {
    display: grid;
    grid-template-columns: 5fr 2fr 1fr;
}

.iconeFooter {
    float: right;
    display: flex;
    gap: 2rem;
}